#openai
streamlit
streamlit-extras
streamlit-lottie
#requests
python-dotenv
#google-cloud 
google-cloud-storage
langchain
langchain-community
langchain-openai
#numpy
#requests
#matplotlib
#bson
#pymongo
#sentence-transformers
